{
  "addon_properties": {},
  "cert": {},
  "file_level": "CRYPTO_LEVEL_1",
  "macsec": {},
  "secoc_auth_data": {
    "SecOC auth data conf": {
      "algorithm": 0,
      "auth_info_trunc_len": 28,
      "extra_keys": [],
      "freshness_length": 64,
      "key": "E3A99BE4DFD532745F065925DADE259922D7A2E193F9DC6476F1445D3AB5A18008CA12AEAD2D88C8185EB62F745B1419",
      "name": "SecOC auth data conf",
      "truncated_freshness_length": 8
    }
  },
  "secoc_timestamp": {},
  "secoc_trip": {},
  "security_addons": []
}